//addons
@import '../client/variables/variables.scss';

//Site styles
@import '../imports/ui/Home/Home.scss';
@import '../imports/ui/Web/Web.scss';
@import '../imports/ui/Mobile/Mobile.scss';
@import '../imports/ui/Components/Nav/Nav.scss';

//Global styles
body{
  margin: 0;
  h1{
    font-family: $geo-font;
    margin: 0;
  }
}