//addons
@import '../client/variables/variables.scss';

//Site styles
@import '../imports/ui/Home/Home.scss';
@import '../imports/ui/Web/Web.scss';
@import '../imports/ui/Mobile/Mobile.scss';
@import '../imports/ui/Game/Game.scss';
@import '../imports/ui/About/About.scss';
@import '../imports/ui/Contact/Contact.scss';
@import '../imports/ui/Components/Nav/Nav.scss';

//Global styles
html{
  scroll-behavior: smooth;
  body{
    margin: 0;
    h1{
      font-family: $geo-font;
      margin: 0;
      span{
        color: $green;
      }
    }
    h2{
      font-family: $miriam-font;
      margin: 0;
    }
  }
}