.Web{
  height: 100vh;
  width: calc(100% - 100px);
  padding-left: 100px;
  background-color: $blue;
  img{
    opacity: 0.1;
    position: absolute;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    min-width: calc(100% - 100px);
    max-width: calc(100% - 100px);
  }
  .content-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .gallery{
      height: 500px;
      width: 60vw;
      border-radius: 8px;
      background-color: $dark-purple;
      padding: 18px;
      margin: 14px 0px;
    }
    .gallery-controls{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 60vw;
      .control-arrow{
        border: 2px solid red;
        color: red;
        height: 3em;
        width: 3em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}